@import "../../vars.css";
.outerContainer {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: auto;
	grid-template-areas: "sidebar main-content";
	background-color: var(--color-background);
	overflow-y: scroll;
}

.contentContainer {
	overflow-y: scroll;
	grid-area: main-content;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: ". main-content .";
	margin: var(--offset-margin);
}

.innerContentContainer {
	grid-area: main-content;
}
