@import "../../vars.css";
.card {
	background-color: var(--color-surface-elevated);
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: box-shadow 0.1s ease-in-out;
}

.card:hover {
	box-shadow: var(--elevation-2);
}
