@import "../../vars.css";

.outerContainer {
	display: grid;
	grid-area: header;

	background-color: var(--color-surface);
	box-shadow: var(--elevation-1);
	z-index: 2;
}

.middleContainer {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto;
	grid-template-areas: "buttons . logo";
	margin: 0 var(--offset-margin);
}

.logoContainer {
	grid-area: logo;
	display: flex;
}

.navSection {
	grid-area: buttons;
	display: flex;
	flex-direction: row;
}

.navSection > *:not(:first-child) {
	margin-left: var(--offset-margin);
}

.navButton {
	cursor: pointer;
	color: var(--color-text);
	transition: color 0.2s ease-in-out;
}

.navButton:hover {
	color: var(--color-text);
}

.notSelected {
	color: var(--color-text);
	transition: color 0.2s ease-in-out;
}

.selected {
	color: var(--color-slate);
}
